
{% extends "../../Clientes/index.html" %}
{% load static %}
{% block footer %}
<div class="div-grande">
    <div class="bubble-text" id="mensajeCita" style="display:none;">
        <br>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
              </svg>
    </div>
        <h1>Desea realizar el pago?</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="col btn-naranja-mediano">
            <button class="btn-naranja-mediano" onclick="ConfirmarPago(true)" id="conf_create_receta" type="submit" name="conf_create_rec">Pagar</button>
        </div>
        <br>
        <div class="col">
        <button class="btn-naranja-mediano" onclick="ConfirmarAgenda()">No</button>
        </div>      
    </div>

    <div class="row h-100 ">

        <div class="col-md-3 align-self-center">
            <h3>Agenda Medico</h3>
            <img src="{% static Especialista_Cont.Foto_E.url %}" alt="Foto del especialista" class="img-redonda" width="150" height="150"> 
            <h2 class="titulo-seleccionar-area"> {{nom_medico}}</h2>
        </div>
        <div class="col-md-9 d-flex align-items-center">
            <div class="d-flex align-items-center">
                    
                <div class="table-responsive div-citas-confirmacion ">
                    <table class="table table-hover table-pagination">
                        <tr>
                            <td>Hora Cita</td>
                            <td>Paciente</td>
                            <td>Rut</td>
                            <td>Edad</td>
                            <td>Estado Confirmacion</td>
                            <td>Confirmar</td>
                        </tr>
                        {% if hay_cita_con_usuario %}
                            {% for cita_con in lista_agenda %}
                            <tr>
                                <td>{{cita_con.cita.Hora_Cita}}</td>
                                <td>{{cita_con.nombre_com|default:"No disponible"}}</td>
                                <td>{{cita_con.rut_cita}}</td>
                                <td>{{cita_con.edad|default:"No disponible"}}</td>
                                {% if cita_con.cita.Confirmacion_Cita_Operador %}
                                    <td><span  class="text-success">Confirmado</span> </td>
                                    <td>
                                        <button type="submit" disabled="True" name="cita_seleccionada" class="btn-naranja-pequeno">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                              </svg>
                                        </button>
                                    </td>
                                {% else %}
                                    <td><span class="text-warning">Sin confirmar</span></td>
                                    <form method="POST" id="form_confirmar_cita">
                                        {% csrf_token %}
                                        <input type="hidden" name="redireccion_confirmar" value ="0" id="redireccion_confirmar">
                                        <input type="hidden" name="cita_hidden" value ="{{cita_con.cita.ID_Cita}}" id="cita_hidden">
                                        <td><button type="button" onclick="mostrarMensajeCitaRecetaDos()" name="cita_seleccionada" class="btn-naranja-pequeno" value="{{cita_con.cita.ID_Cita}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                              </svg>
                                        </button></td>
                                    </form>
                                {% endif %}
        
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% if hay_cita_sin_usuario %}
                            {% for cita_sin in lista_sin %}
                            <tr>
                                <td>{{cita_sin.cita_sin.Hora_Cita}}</td>
                                <td>{{cita_sin.nombre_com|default:"No disponible"}}</td>
                                <td>{{cita_sin.rut_cita}}</td>
                                <td>{{cita_sin.edad|default:"No disponible"}}</td>
                                {% if cita_sin.cita_sin.Confirmacion_Cita_Operador %}
                                     <td><span  class="text-success">Confirmado</span> </td>
                                    <td>
                                        <button type="submit" disabled="True" name="cita_seleccionada" class="btn-naranja-pequeno">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                              </svg>
                                        </button>
                                    </td>
                                {% else %}
                                    <td><span class="text-warning">Sin confirmar</span></td>
                                    <form method="POST" id="form_confirmar_cita">
                                        {% csrf_token %}
                                        <input type="hidden" name="redireccion_confirmar" value ="0" id="redireccion_confirmar">
                                        <input type="hidden" name="cita_hidden" value ="{{cita_sin.cita_sin.ID_Cita}}" id="cita_hidden">
                                        <td><button type="button" onclick="mostrarMensajeCitaRecetaDos()" name="cita_seleccionada" class="btn-naranja-pequeno" value="{{cita_sin.cita_sin.ID_Cita}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                              </svg>
                                        </button></td>
                                    </form>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% if not cita_sin_usuario.exists and not cita_con_usuario.exists %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td><h5>Sin registro de reservas</h5></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %}
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <button  type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="/">Inicio</a></button>
        <button type="button" class="btn-naranja-mediano" onclick="goBack()" style="align-self: auto;">Atras</a></button> 
    </div>
</div>
    {% endblock %}
    