{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Agendar Cita</title>
<script src="../../static/js/mostrarMensaje.js"></script>
  <div class="div-grande">
    <div class="bubble-text" id="mensaje" style="display:none;">
      <br>
      <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg>
    </div>
      <h1>¿Seguro que desea anular esta cita?</h1>
      <br>
      <br>
      <br>
      <br>
      <div class="col btn-naranja-mediano">
        <form method="post">
          {% csrf_token %}
          <button class="btn-naranja-mediano" onclick="eliminarCita(fechaID)" id="conf_delet_cit_button" type="submit" name="conf_delet_cit">Aceptar</button>
        </form>
      </div>
      <br>
      <div class="col">
        <button class="btn-naranja-mediano" onclick="ocultarMensaje()">Cancelar</button>
      </div>      
    </div>
        <h2 id="titulo-inicio-sesion">Seleccione Hora</h2>
            <div class="row">
                <table>
                    <tr>
                      <td>Fecha y hora de la cita</td>
                      <td>Paciente</td>
                      <td>Especialidad</td>
                      <td>Ficha Médica</td>
                      <td>Anular Cita</td>
                    </tr>
                    {% for x in list_Citas_Reservadas %}
                    <tr>
                      <td>
                        {{x.0}}
                      </td>
                      <td>
                        {{x.1}}
                      </td>
                      <td>
                        {{x.2}}
                      </td>
                      <td>
                        <form method="post" >
                          {% csrf_token %}
                          <button class="btn-naranja-pequeño" type="submit" name="doc_pac" value="{{x.1}}" id="doc_pac" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-medical-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 4.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5a.5.5 0 1 1 1 0zM5.5 9h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
                              </svg>
                          </button>
                      </td>
                      <td>
                          <button class="btn-rojo-pequeño" type="button" name="del_cita" onclick="mostrarMensaje('{{x.0}}')" id="del_cita" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                  </svg>
                          </button>
                        </form>
                      </td>
                    </tr>
                    <br>
                    <br>
                    {% endfor %}
                  </table>
            </div>      
            <button type="button" class="btn-naranja-mediano row-margin"><a href="{{ request.META.HTTP_REFERER }}">Volver</a></button>
        </div>
        
        
        
{% endblock %}
