{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Crear Ficha Médica</title>
<script src="../../static/js/mostrarMensaje.js"></script>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    
    <div class="div-mediano">
        <div class="bubble-text" id="mensajeCita" style="display:none;">
            <br>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
        </div>
            <h1>Desea crear una receta medica?</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="col btn-naranja-mediano">
                <button class="btn-naranja-mediano" onclick="finalizarCitaMedica(true)" id="conf_create_receta" type="submit" name="conf_create_rec">Aceptar</button>
            </div>
            <br>
            <div class="col">
            <button class="btn-naranja-mediano" onclick="ocultarMensajeCitaRecetaDos()">No</button>
            </div>      
        </div>
        
        <div class="bubble-text" id="mensajeCitaExamen" style="display:none;">
            <br>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
        </div>
            <h1>Desea crear orden de examen?</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="col btn-naranja-mediano">

                <button class="btn-naranja-mediano" onclick="finalizarCitaMedicaOrden(true)" id="conf_create_receta" type="submit" name="conf_create_rec">Aceptar</button>

            </div>
            <br>
            <div class="col">
                <button class="btn-naranja-mediano" type="submit" name="conf_cita_sin" onclick="finalizarCita()">Cancelar</button>
            </div>      
        </div>
        <h3 id="titulo-inicio-sesion">Identificacion Personal</h3>
        <form method="post" id ="form_cita">
        {% csrf_token %}    
            <div class="row row-margin justify-content-center">
                <div class="col-md-2">
                    <h5>
                        N° Ficha Médica
                    </h5>
                    {{FormCitaMedica.Ficha_Medica_Pac}}
                </div>
                <div class="col-md-2">
                    <h5>
                        RUT Paciente
                    </h5>
                    {{FormCitaMedica.RUT_Pac}}
                </div>
                <div class="col-md-3">
                    <h5>
                        Nombre Completo Paciente
                    </h5>
                    {{FormCitaMedica.Nombre_Com_Pac}}
                </div>
                <div class="col-md-3">
                    <h5>
                        Nombre Completo Especialista
                    </h5>
                    {{FormCitaMedica.Nombre_Com_Esp}}
                </div>
                <div class="col-md-2">
                    <h5>
                        Fecha Cita
                    </h5>
                    {{FormCitaMedica.Fecha_Cita}}
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-2 d-flex ml-auto">
                    <h5>
                        Diagnostico:
                    </h5>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    {{FormCitaMedica.Diagnostico_Cita}} 
                </div>
            </div>
            <input type="hidden" name="redireccionar" id="redireccionar_field" value="0">
            <input type="hidden" name="redireccionar_o" id="redireccionar_o_field" value="0">
            <br>
            <button type="submit" name="ver_ficha_medica" class="btn-naranja-mediano row-margin" value="{{Ficha_Med_Pac.ID_Ficha_Medica}}">Ver Ficha Médica</button>
            {% if validar_receta is not None %}
                <button type="submit" class="btn-naranja-mediano row-margin" name="ver_receta" value="{{validar_receta}}">Ver Receta</button>
            {% else %}
                <button type="submit" class="btn-naranja-mediano row-margin" name="Receta">Agregar Receta</button>
            {% endif %}

            {% if validar_orden is not None %}
            <button type="submit" class="btn-naranja-mediano row-margin" name="ver_examen" value="{{validar_orden}}">Ver Orden Examen</button>
            {% else %}
            <button type="submit" class="btn-naranja-mediano row-margin" name="Examen" >Agregar Orden Examen</button>
            {% endif %}
            
            <button type="submit" class="btn-naranja-mediano row-margin" name="finalizar_atencion">Finalizar Atencion</button>


                
            </form>
            <button type="button" class="btn-naranja-mediano row-margin"><a href="{{ request.META.HTTP_REFERER }}">Volver</a></button>
        
    </div>  

</div>
{% endblock %}