{% extends "../Clientes/index.html" %}
{% load static %}
{% block footer %}
<title>Crear Ficha Médica - Examenes</title>
<script src="../../static/js/mostrarMensaje.js"></script>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    
    <div class="div-grande">
        

        <h2 id="titulo-inicio-sesion">Orden de Examenes</h2>
        {% if form_ver_examenes %}
        <div class="row row-margin">
            <form method="POST">
                {% csrf_token %}
                <div class="border border-info rounded-1">
                    <div class="form">
                        <div class="form-row col-md-5">
                          <label style="margin-left: 5px;">Nombre:</label>
                          {{form_ver_examenes.nombre_pac}}
                          
                        </div>
                        <div class="form-row col-md-4">
                          <label style="margin-left: 5px;">RUT:</label>
                          {{form_ver_examenes.rut_pac}}
                        </div>
                        <div class="form-rowcol-md-1">
                          <label style="margin-left: 5px;">Edad:</label>
                          {{form_ver_examenes.edad_pac}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col">
                          <label style="margin-left: 5px;">Fecha Nacimiento:</label>
                          {{form_ver_examenes.Fecha_Cita}}
                        </div>
                        <div class="form-row col-xs-4">
                          <label style="margin-left: 5px;">Prevision Paciente:</label>
                          {{form_ver_examenes.prevision}}
                        </div>
                        <div class="form-rowcol-xs-1">
                          <label style="margin-left: 5px;">Servicio:</label>
                          {{form_ver_examenes.servicio}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col">
                          <label style="margin-left: 5px;">Diagnostico:</label>
                          {{form_ver_examenes.diagnostico}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col-md-7">
                          <label style="margin-left: 5px;">Nombre Medico:</label>
                          {{form_ver_examenes.nombre_medico}}
                        </div>
                        <div class="form-row col-md-4">
                          <label style="margin-left: 5px;">RUT:</label>
                          {{form_ver_examenes.rut_medico}}
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row row-margin">
                <div class="col-md-12 border border-info rounded-1">
                    <div class="form">
                        <div class="row row-margin table-responsive"> 
                          
                            <table id="tabladinamica" class="table table-hover">
                                {% for x in examenes_orden %}
                                {% if forloop.counter0|divisibleby:5 %}
                                    <tr> <!-- Nueva fila cada 5 botones -->
                                {% endif %}
                                <td class="border border-info">
                                    {{x}}
                                </td> 
                                {% if forloop.counter|divisibleby:5 or forloop.last %}
                                    </tr> <!-- Cierre de la fila si se llegó al límite de 5 botones o es el último elemento -->
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
                <button type="button" class="btn-naranja-mediano row-margin"><a href="{{ request.META.HTTP_REFERER }}">Volver</a></button>
            </form>
        {% else %}
        <div class="row row-margin">
            <form method="POST">
                {% csrf_token %}
                <div class="border border-info rounded-1">
                    <div class="form">
                        <div class="form-row col-md-5">
                          <label style="margin-left: 5px;">Nombre:</label>
                          {{formExamenes.nombre_pac}}
                          
                        </div>
                        <div class="form-row col-md-4">
                          <label style="margin-left: 5px;">RUT:</label>
                          {{formExamenes.rut_pac}}
                        </div>
                        <div class="form-rowcol-md-1">
                          <label style="margin-left: 5px;">Edad:</label>
                          {{formExamenes.edad_pac}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col">
                          <label style="margin-left: 5px;">Fecha Nacimiento:</label>
                          {{formExamenes.Fecha_Cita}}
                        </div>
                        <div class="form-row col-xs-4">
                          <label style="margin-left: 5px;">Prevision Paciente:</label>
                          {{formExamenes.prevision}}
                        </div>
                        <div class="form-rowcol-xs-1">
                          <label style="margin-left: 5px;">Servicio:</label>
                          {{formExamenes.servicio}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col">
                          <label style="margin-left: 5px;">Diagnostico:</label>
                          {{formExamenes.diagnostico}}
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row col-md-7">
                          <label style="margin-left: 5px;">Nombre Medico:</label>
                          {{formExamenes.nombre_medico}}
                        </div>
                        <div class="form-row col-md-4">
                          <label style="margin-left: 5px;">RUT:</label>
                          {{formExamenes.rut_medico}}
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row row-margin">
                <div class="col-md-12 border border-info rounded-1">
                    
                            <input type="text" name="pruebacosa" id="pruebacosa">
                            <button type="button" onclick="prueba()">Agregar</button>
                            <table class="table"  id="seleccion">
                                <tbody id = "seleccion-body">
                                    <tr>
                                        <td>Examen</td>
                                        <td>Eliminar</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notDisplay">

                                {{formExamenes.examenes}}
                            </div>
                        
                    
                </div>
            </div>  
                <button type="submit" class="btn-naranja-mediano">Agregar Orden</button>
                <button type="button" class="btn-naranja-mediano row-margin"><a href="{{ request.META.HTTP_REFERER }}">Volver</a></button>
            </form>
        {% endif %}
        <script src="{% static 'js/orden_examen.js' %}"></script>
        
    </div>
        
{% endblock %}