{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Crear Ficha Médica</title>
    <div class="div-grande">
        <h3 id="titulo-inicio-sesion">Identificacion Personal</h3>  
            <div class="row row-margin justify-content-center">
                <div class="col-md-2">
                    <h5>
                        N° Ficha Médica
                    </h5>
                    {{FormCitaMedica.Ficha_Medica_Pac}}
                </div>
                <div class="col-md-2">
                    <h5>
                        RUT Paciente
                    </h5>
                    {{FormCitaMedica.RUT_Pac}}
                </div>
                <div class="col-md-3">
                    <h5>
                        Nombre Completo Paciente
                    </h5>
                    {{FormCitaMedica.Nombre_Com_Pac}}
                </div>
                <div class="col-md-3">
                    <h5>
                        Nombre Completo Especialista
                    </h5>
                    {{FormCitaMedica.Nombre_Com_Esp}}
                </div>
                <div class="col-md-2">
                    <h5>
                        Fecha Cita
                    </h5>
                    {{FormCitaMedica.Fecha_Cita}}
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-2 d-flex ml-auto">
                    <h5>
                        Diagnostico:
                    </h5>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    {{FormCitaMedica.Diagnostico_Cita}} 
                </div>
            </div>
            <button type="button" class="btn-naranja-mediano row-margin"><a href="{{ request.META.HTTP_REFERER }}">Volver</a></button>

    </div>  
</div>
{% endblock %}