{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Operador - Funciones</title>
<div id="main-content-centro">
    <div class="div-pequeno">
        <h2 id="titulo-inicio-sesion">Funciones</h2>
        <div class="div-botones">
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador"><a href="{% url 'agenda_citas' %}">Agendar Atencion</a></button>
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador"><a href="{% url 'agenda_citas_dos' %}">Confirmar Agenda</a></button>
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador"><a href="{% url 'confirmacion' %}">Confirmar Agenda RUT</a></button>
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador"><a href="{% url 'modificar_cita' %}">Modificar Cita</a></button>
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador"><a href="{% url 'pago' %}">Pago</a></button>
            <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano-operador" style="align-self: auto;"><a href="/">Inicio</a></button>
        </div>
        
    </div>
</div>
{% endblock %}