{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Operador - Funciones</title>
<div id="main-content-centro">
    <div class="div-pequeño">
        <h2 id="titulo-inicio-sesion">Funciones</h2>
        <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano"><a href="agenda_citas">Consultar Agenda Especialista</a></button>
        <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano"><a href="agendar_citas_paciente">Agendar Cita</a></button>
        <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano"><a href="modificar_cita">Modificar Cita</a></button>
        <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano"><a href="confirmacion">Confirmar Paciente</a></button>
        <button id="btn-inicio-sesion" type="button" class="btn-naranja-mediano"><a href="pago">Pago</a></button>
        <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="/">Inicio</a></button>
    </div>
</div>
{% endblock %}