{% extends "./index.html" %}
{% block footer %}
    <title>Agendar Cita</title>
        {% if user.is_authenticated %}
        <div class="div-mediano">
            <h2 id="titulo-seleccionar-area">Seleccionar Categoría</h2>

                <form  method="POST">
                    {% csrf_token %}
                    {{ formAreaMedica.as_p }}
                    <button class="btn-naranja-mediano" type="submit" name="ver_especialista">Ver Especialistas</button>
                </form>
                <script src="../../static/js/agendar_filtro.js"></script>
        {% else %}
        <div class="div-mediano" >
            <h1 id="titulo-seleccionar-area">Ingrese sesión para agendar hora</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}