{% extends "./index.html" %}
{% block footer %}
    <title>Agendar Cita</title>
    <div id="main-content-centro">
        {% if user.is_authenticated %}
        <div class="div-mediano">
            <h2 id="titulo-seleccionar-area">Seleccionar Área Médica</h2>
            <!--Primera Fila-->
            <form method="post">
                {% csrf_token %}
                <button class="btn-naranja-mediano" type="submit" name="ver_especialista">Ver Especialistas</button>
            </form>
        {% else %}
        <div class="div-mediano" >
            <h1 id="titulo-seleccionar-area">Ingrese sesión para agendar hora</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}