{% extends "./index.html" %}
{% block footer %}
<title>Anular Cita</title>
    <div id="main-content-centro">
        {% if user.is_authenticated %}
        <div class="div-mediano">
            <h2 id="titulo-seleccionar-area">Elija la cita que desea anular</h2>
                <div class="row">
                    {% if citas_cliente %}
                        <table>
                            {% for x in citas_cliente %}
                                <tr>
                                    <td>Fecha de cita: {{x.ID_Cita}}</td>
                                    <td>Especialista: {{x.ID_Especialista}} </td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <button value="{{x.ID_Cita}}" class="btn-naranja-mediano" type="submit"
                                                    name="anular_hora">
                                                    Anular Hora
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <br>
                                <br>
                            {% endfor %}

                        </table>
                    {% else %}
                    <h4 id="titulo-seleccionar-area">Actualmente no hay citas asignadas a su usuario</h4>
                    {% endif %}
                </div>                
        {% else %}
        <div class="div-mediano" >
            <h1 id="titulo-seleccionar-area">Ingrese sesión para anular horas</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}