{% extends "./index.html" %}
{% block footer %}
<title>Agendar Cita</title>
<div id="main-content-centro">

    <div class="div-grande">

        <h2 id="titulo-inicio-sesion">Seleccione Hora</h2>
            <div class="row">

                <table>
                    {% for x in list_horas %}
                    {% if forloop.counter0|divisibleby:5 %}
                        <tr> <!-- Nueva fila cada 5 botones -->
                    {% endif %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn-naranja-mediano" value="{{x}}" type="submit"
                                    name="hora_seleccionada" style="display: inline-block ; width: 180px; height: 90px; margin: 20px;"> 
                                    {{x}}
                            </button>
                        </form>
                        </td> 
                    {% if forloop.counter|divisibleby:5 or forloop.last %}
                        </tr> <!-- Cierre de la fila si se llegó al límite de 5 botones o es el último elemento -->
                    {% endif %}
                    {% endfor %}
                </table>
            </div>      
        <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="/">Inicio</a></button>
        </div>
  
</div>
{% endblock %}