{% extends "./index.html" %}
{% block footer %}
<title>Agendar Cita</title>
<div id="main-content-centro">

    <div class="div-grande">

        <h2 id="titulo-inicio-sesion">Seleccione Hora</h2>
            <div class="row">

                <table>
                    {% for x in hora.hora %}
                    <tr>
                            <td>Hora: {{x}}:00:00</td>
                            <td>
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn-naranja-mediano" value="{{x}}" type="submit"
                                        name="hora_seleccionada">
                                        Seleccionar hora
                                </button>
                            </form>
                            </td>
                        
                    </tr>  
                    {% endfor %}
                </table>
            </div>      
        <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="/">Inicio</a></button>
        </div>
  
</div>
{% endblock %}