{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../static/css.css" rel="stylesheet">
    <title>ReservaFácil - Inicio</title>
</head>

<!--Header-->
<header>
    <!--Div de Imagen-->
    <div id="div-nav-left">
        <img src="../../static/img/logo.png" width="28px" height="60px">
    </div>
    <!--Div Opciones-->
    <div id="div-nav-right">
        <nav>
            <ul>
                <li><a href="">Agendar Hora</a></li>
                <li><a href="">Modificar Hora</a></li>
                <li><a href="">Consultar Hora</a></li>
                <li><a href="">Anular Hora</a></li>
                <li><button class="btn-naranja-mediano"><a href="">Iniciar Sesión</a></button></li>
            </ul>
            
        </nav>
    </div>
</header>

<body>
    <div id="div-body"><h1>Bienvenido a ReservaFácil</h1></div>
    <!--Prueba de actualización cuenta secundaria-->
</body>

<footer>
    Wenas
</footer>

</html>