{% extends "./index.html" %}
{% block footer %}
<title>Agendar Cita</title>
<div id="main-content-centro">
    <div class="div-grande">
        <h2 id="titulo-seleccionar-area">Seleccionar Especialista</h2>
        <!--Primera Fila-->
        {% if qspecialista %}
        <div id="container-fila-agendar-hora" class="container">
            <div class="row">

            <table>
                
            {% for x in qspecialista %}
                <tr>
                    <td>Nombre: {{x.Nombre_completo_E}}</td>
                    <td>Telefono: {{x.Telefono_E}}</td>
                    <td>Fecha de nacimiento: {{x.Fecha_de_nacimiento_E}}</td>
                    {% for esp in qsListaEspecialidad %}
                    {% if forloop.parentloop.counter == forloop.counter%}
                        <td>Dias de atencion: {{esp}}</td>
                    {% endif %}
                    {% endfor %}  

                    <td>
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn-naranja-mediano" value="{{ x.ID_Especialista}}" type="submit"
                                name="pedir_cita">
                                Pedir Cita
                        </button>
                    </form>
                    </td>
                    <br>
                    <br>
                </tr>
            {% endfor %}  
            </table>
            </div>
        </div>
        {% endif %}       
            
    </div>
        
</div>
    
</div>
{% endblock %}