{% extends "../../Clientes/index.html" %}
{% block footer %}
<title>Modificar - Lista citas paciente</title>
<div id="main-content-centro">
    <div class="div-pequeno">
            <div class="bubble-text" id="mensajeCita" style="display:none;">
                <br>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                      </svg>
            </div>
                <h1>Desea realizar el pago?</h1>
                <br>
                <br>
                <br>
                <br>
                <div class="col btn-naranja-mediano">
                    <button class="btn-naranja-mediano" onclick="ConfirmarPago(true)" id="conf_create_receta" type="submit" name="conf_create_rec">Pagar</button>
                </div>
                <br>
                <div class="col">
                <button class="btn-naranja-mediano" onclick="ConfirmarAgenda()">No</button>
                </div>      
            </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <h2 id="titulo-inicio-sesion">Paciente:</h2>
        {% if especialidad_ == None %}
            <h3 id="titulo-inicio-sesion">Especialidad: {{especialidad_sin}}</h3>
        {% else %}
            <h3 id="titulo-inicio-sesion">Especialidad: {{especialidad_}}</h3>
        {% endif %}
        <h3 id="titulo-inicio-sesion">Citas de hoy</h3>
        <div class="div-formulario">
            <div class="row">
                <table>
                    <tr>
                        <td>Fecha</td>
                        <td>Hora</td>
                        <td>Especialista</td>
                        <td>Estado de la cita</td>
                    </tr>
                        {% for x in citas %}
                        <tr>
                            <td>{{x.Fecha_Cita}}</td>
                            <td>{{x.Hora_Cita}}</td>
                            {% if x.Confirmacion_Cita_Operador == False %}
                                <td><a class="text-warning">Sin Confirmar</a></td>
                            {% else %}
                                <td><a class="text-success">Confirmado</a></td>
                            {% endif %}
                                <td>
                                <form method="POST" id="form_confirmar_cita">
                                    {% csrf_token %}
                                    <input type="hidden" name="redireccion_confirmar" value ="0" id="redireccion_confirmar">
                                    <input type="hidden" name="cita_hidden" value ="{{x.ID_Cita}}" id="cita_hidden">
                                    <button class="btn-naranja-mediano" value="{{x.ID_Cita}}"
                                    type="button" id="seleccion" name="seleccion" onclick="mostrarMensajeCitaRecetaDos()">Confirmar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        {% for y in citas_sin_usuario %}
                            <tr>
                                <td>{{y.Fecha_Cita}}</td>
                                <td>{{y.Hora_Cita}}</td>
                                {% if y.Confirmacion_Cita_Operador == False %}
                                    <td><a class="text-warning">Sin Confirmar</a></td>
                                {% else %}
                                    <td><a class="text-success">Confirmado</a></td>
                                {% endif %}
                                    <td>
                                    <form method="POST" id="form_confirmar_cita">
                                        {% csrf_token %}
                                        <input type="hidden" name="redireccion_confirmar" value ="0" id="redireccion_confirmar">
                                        <input type="hidden" name="cita_hidden" value ="{{y.ID_Cita}}" id="cita_hidden">
                                        <button class="btn-naranja-mediano" value="{{y.ID_Cita}}"
                                        type="button" id="seleccion" name="seleccion" onclick="mostrarMensajeCitaRecetaDos()">Confirmar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                </table>
            </div>    
        </div>
            <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="{% url 'index' %}">Cancelar</a></button>
            <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="{% url 'confirmacion' %}">Atras</a></button>
        </div>
</div>
{% endblock %}
