{% extends "../Clientes/index.html" %}
{% block footer %}
<title>Cerrar sesión</title>
    <div class="div-grande">
        <h2 id="titulo-inicio-sesion">Chat</h2>
            <h1>Chat con {{ destinatario }}</h1>
            <div class="mensajes">
                {% csrf_token %}
                <form method="POST">
                    {{formmensaje}}

                    <button id="btn-enviar" type="button" class="btn-naranja-mediano" style="align-self: auto;">Enviar</button>
                </form>
            </div>
        <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="/">Inicio</a></button>
    </div>  
</div>
{% endblock %}