{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css.css'%}">
    <title>ReservaFácil - Inicio</title>

    
</head>

<!--Header-->
<header>
    <!--Div de Imagen-->
    <div id="div-nav-left">
        <img src="../../static/img/logo.png" width="28px" height="60px">
    </div>
    <!--Div Opciones-->
    <div id="div-nav-right">
        <nav>
            <ul>
                <li><a href="">Administrar Sesiones</a></li>
                <li><a href="">Finanazas</a></li>
                <li><a href="">R.R.H.H</a></li>
                <li><a href="">Administrar</a></li>
               
            </ul>
            
        </nav>
    </div>
</header>

<body>

  <br> 

    <div class= "container-Sesiones"> 
        <h1>Formulario</h1>
    </div>
</body>

<footer>

</footer>

</html>