{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css.css'%}">
   
    <title> Crear Usuario </title>

    
</head>

<!--Header-->
<header>
    <!--Div de Imagen-->
    <div id="div-nav-left">
        <img src="../../static/img/logo.png" width="28px" height="60px">
    </div>
    <!--Div Opciones-->
    <div id="div-nav-right">
        <nav>
            <ul>
                <li><a href="">Administrar Sesiones</a></li>
                <li><a href="">Finanazas</a></li>
                <li><a href="">R.R.H.H</a></li>
                <li><a href="">Administrar</a></li>
               
            </ul>
            
        </nav>
    </div>
</header>

<body>

    <div class= "container_CrearUsuarios"> 

        <div id="contenido">

            <div id="section">

            </div>

            <div id="crearUsuario"> 

                <!-- Grupo: Nombre -->
                <div class="formulario__grupo" id="grupo__nombre">
                    <label for="nombre" class="formulario__label"> Nombre de Usuario </label>
                    <input type="text" name="nombre" placeholder=" Ej: JuanMJ " >
                </div>

                 <!-- Grupo: Contrasenna -->
                <div class="formulario__grupo" id="grupo__Contrasenna">
                     <label for="Contrasenna" class="formulario__label"> Contraseña </label>
                    <input type="password" name="password" placeholder="clave">
                </div>

                <!-- Grupo: repetir Contrasenna -->
                <div class="formulario__grupo" id="grupo__Contrasenna2">
                    <label for="Contrasenna2" class="formulario__label"> Repetir Contraseña </label>
                    <input type="password" name="password" placeholder="clave">
                </div>

            </div>
        </div>
    </div>
    
</body>

<footer>
    <nav id="RedesSociales">

    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.instagram.com/"><img src="{% static 'img/icons8-instagram-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.facebook.com/"><img src="{% static 'img/icons8-facebook-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.twitter.com/"><img src="{% static 'img/icons8-twitter-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.google.com/maps/place/Fosa+de+las+Marianas/@11.3493333,142.190811,15z/data=!4m13!1m7!3m6!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!2sFosa+de+las+Marianas!3b1!8m2!3d11.3493126!4d142.1995658!3m4!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!8m2!3d11.3493126!4d142.1995658"><img src="{% static 'img/icons8-google-maps-48.png' %}" alt=""></a></button>
    </nav>
</footer>

</html>