{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css.css'%}">
   
    <title> Crear Usuario </title>

    
</head>

<!--Header-->
<header>
    <!--Div de Imagen-->
    <div id="div-nav-left">
        
    </div>
    <!--Div Opciones-->
    <div id="div-nav-right">
        <nav>
            <ul>
                <li><a href="">Administrar Sesiones</a></li>
                <li><a href="">Finanazas</a></li>
                <li><a href="">R.R.H.H</a></li>
                <li><a href="">Administrar</a></li>
               
            </ul>
            
        </nav>
    </div>
</header>

<body>

    <div class= "container_CrearUsuarios"> 

        <div id="container_agregar">

            <div id="section">
                <h1>perfil</h1>
                <img src={% static 'img/icons8-usuario-64.png' %} alt"" class="">
            </div>

            <div id="crearUsuario"> 
                
                <form action="#">
                    <form action="" class="formulario" id="formulario">
                        <h1>Crear Sesión</h1>
                        <br>
                    <div class="form first"> 
                        <div class="details personal">
    
                        <!-- Formulario para agregar nuevo personal -->
    
                            <div class="fields">

                                <!-- Nombre de Usuario -->

                                <div class="formulario__grupo" id="grupo__usuario">
                                    <label for="nombreUser" class="formulario__label"> Nombre de Usuario </label>
                                    <div class="formulario__grupo-input">
                                        <input type="text" class="formulario__input" name="nombreUser" id="nombreUser" placeholder="">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                                </div>
                            
                                <!-- Contrasenna -->

                                <div class="formulario__grupo" id="grupo__password">
                                    <label for="password" class="formulario__label">Contraseña</label>
                                    <div class="formulario__grupo-input">
                                        <input type="password" class="formulario__input" name="password" id="password">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                                </div>

                                <!-- Repetir Contrasenna -->

                                <div class="formulario__grupo" id="grupo__password2">
                                    <label for="password2" class="formulario__label">Repetir Contraseña</label>
                                    <div class="formulario__grupo-input">
                                        <input type="password" class="formulario__input" name="password2" id="password2">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                                </div>

                            </div>
                        </div>
                    </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Usuario o contraseña incorrectos. </p>
                        </div>
        
                        <br/>
                        <!-- Grupo: Boton de Enviar -->
                        <div class="formulario__grupo formulario__grupo-btn-enviar">
                            <button type="submit" class="formulario__btn"> Aceptar </button>
                            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"> Sesión Creada </p>
                        </div>

                    </form> 
                
                </form> 
                
            </div>
        </div>
    </div>
    
</body>



<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

<footer>
    <nav id="RedesSociales">

    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.instagram.com/"><img src="{% static 'img/icons8-instagram-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.facebook.com/"><img src="{% static 'img/icons8-facebook-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.twitter.com/"><img src="{% static 'img/icons8-twitter-48.png' %}" alt=""></a></button>
    <button class="btn btn-outline-success my-2 my-sm-0"><a href="https://www.google.com/maps/place/Fosa+de+las+Marianas/@11.3493333,142.190811,15z/data=!4m13!1m7!3m6!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!2sFosa+de+las+Marianas!3b1!8m2!3d11.3493126!4d142.1995658!3m4!1s0x67328f3cd57de715:0x1bbe64e7a21aa7fc!8m2!3d11.3493126!4d142.1995658"><img src="{% static 'img/icons8-google-maps-48.png' %}" alt=""></a></button>
    </nav>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>