{% extends "../Clientes/index.html" %}
{% block footer %}
<link href="../../static/Admin/agregar.css" rel="stylesheet">
<script src="../../static/js/ocultar.js"></script>
<title>Agregar Empleado</title>
<div id="main-content-centro">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert"  id="message_box">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="div-mediano">
        <h2 id="titulo-inicio-sesion">Agregar</h2>
        <form method="post">
            {% csrf_token %}
            <div class="container">

                <div class="row">
                    <div class="col">
                        <div >
                            <h6>Nombre Completo</h6>
                        </div>
                        <div >
                            {{formEspecialista.nom_com_especialista}}
                        </div>
                        <br>
                        <div >
                            <h6>Fecha de nacimiento</h6>
                        </div>
                        <div >
                            {{ formEspecialista.fecha_nac_especialista }}
                        </div>
                        <br>
                        <div >
                            <h6>Sexo</h6>
                        </div>
                        <div >
                            {{ formEspecialista.sexo }}
                        </div>
                        <br>    
                        <div >
                            <h6>Direccion</h6>
                        </div>
                        <div >
                            {{ formEspecialista.direccion_especialista }}
                        </div>
                        <br>
                        <div >
                            <h6>Contacto</h6>
                        </div>
                        <div >
                            {{formEspecialista.contacto_especialista}}
                        </div>
                        <br>
                        <div >
                            <h6>RUT</h6>
                        </div>
                        <div >
                            {{formEspecialista.rut}}
                        </div>
                    </div>
                
                    <div class="col">
                        <br>
                        <div>
                            <h6>Especialidad 1</h6>
                        </div>

                        <div >
                            <div >
                                {{ formEspecialista.especialidad_p }}
                            </div>
                        </div>
                        <br>
                        <br>
                        <div >
                            <h6>Especialidad 2</h6>
                        </div>
                        <div onchange="ocultarDiasS()">
                            {{formEspecialista.especialidad_s}}
                        </div>
                        <br>
                        <br>
                        <div >
                            <h6>Especialidad 3</h6>
                        </div>
                        <div onchange="ocultarDiasT()">
                            {{ formEspecialista.especialidad_t }}
                        </div>
                        <br>
                        <br>
                        <div >
                            <h6>Especialidad 4</h6>
                        </div>
                        <div onchange="ocultarDiasC()">
                            {{ formEspecialista.especialidad_c }}
                        </div>
                        
                    </div>

                    <div class="col">
                        <div class="wrapper">
                            {{formEspecialista.dia_p}}
                        </div>
                        <br>
                        <div class="wrappernone" id="divespecialidads">
                            {{formEspecialista.dia_s }}
                        </div>
                        <div class="wrappernone" id="divespecialidadt">
                            {{formEspecialista.dia_t }}
                        </div>
                        <div class="wrappernone" id="divespecialidadc">
                            {{formEspecialista.dia_c }}
                        </div>
                    </div>

                    <div class="col">
                        <div>
                            {{formEspecialista.minutes_p}}
                        </div>
                        <div>
                            {{formEspecialista.minutes_s}}
                        </div>
                        <div>
                            {{formEspecialista.minutes_t}}
                        </div>
                        <div>
                            {{formEspecialista.minutes_c}}
                        </div>
                        
                    </div>
                </div>

            </div>
            
            <br>
            <br>
            <button type="submit" value="Agregar" class="btn-naranja-mediano">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}
</html>
