{% extends "../Clientes/index.html" %}
{% block footer %}
<link href="../../static/Admin/agregar.css" rel="stylesheet">
<script src="../../static/js/ocultar.js"></script>
<title>Agregar Especialista</title>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert"  id="message_box">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="div-mediano">
        <h2 id="titulo-inicio-sesion">Agregar Especialista</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="row">
                    <!--Datos Personales Especialista-->
                    <div class="col">
                        <div >
                            <h6>Nombre Completo</h6>
                        </div>
                        <div >
                            {{formEspecialista.nom_com_especialista}}
                        </div>
                        <br>
                        <div >
                            <h6>Fecha de nacimiento</h6>
                        </div>
                        <div >
                            {{ formEspecialista.fecha_nac_especialista }}
                        </div>
                        <br>
                        <div >
                            <h6>Sexo</h6>
                        </div>
                        <div class="div-choicefield">
                            {{ formEspecialista.sexo }}
                        </div>
                        <br>    
                        <div >
                            <h6>Direccion</h6>
                        </div>
                        <div >
                            {{ formEspecialista.direccion_especialista }}
                        </div>
                        <br>    
                        <div >
                            <h6>Foto</h6>
                        </div>
                        <div>
                            {{ formEspecialista.Foto_E }}
                        </div>
                        
                    </div>

                    <div class="col">
                        <div >
                            <h6>Telefono</h6>
                        </div>
                        <div >
                            {{formEspecialista.contacto_especialista}}
                        </div>
                        <br>
                        <div >
                            <h6>RUT</h6>
                        </div>
                        <div >
                            {{formEspecialista.rut}}
                        </div>
                        <br>
                        <div>
                            <h6>Fecha inicio contrato</h6>
                        </div>
                        <div>
                            {{formEspecialista.ini_con_especialista}}
                        </div>
                        <br>
                        <div>
                            <h6>Fecha fin contrato</h6>
                        </div>
                        <div>
                            {{formEspecialista.fin_con_especialista}}
                        </div>
                    </div>
                
                    <!--Especialidades-->
                    <div class="col">
                        <br>
                        <h6>Especialidad 1</h6>
                        <div class="col">
                            {{ formEspecialista.especialidad_p }}
                        </div>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3 select-checkbox div-choicefield" onchange="grupoMultiSelect()">
                              {{formEspecialista.dia_p}}
                            </div>
                            <div class="flex-grow-1 me-3">
                                <div class ="div-choicefield" onchange="">
                                    {{formEspecialista.Minutes_Esp_P_Lun}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Mar}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Mie}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Jue}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Vie}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Sab}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_P_Dom}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <br>
                        <h6>Especialidad 2</h6>
                        <div class="col">
                            {{ formEspecialista.especialidad_s }}
                        </div>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3 select-checkbox div-choicefield" onchange="grupoMultiSelect()">
                              {{formEspecialista.dia_s}}
                            </div>
                            <div class="flex-grow-1 me-3">
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Lun}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Mar}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Mie}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Jue}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Vie}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Sab}}
                                </div>
                                <div class ="div-choicefield">
                                    {{formEspecialista.Minutes_Esp_S_Dom}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <!--<div >
                            <h6>Especialidad 2</h6>
                        </div>
                        <div onchange="ocultarDiasS()" class="div-choicefield">
                            {{formEspecialista.especialidad_s}}
                        </div>
                        <br>
                        <br>
                        <div class="notDisplay" id="esp_display_t">
                            <h6>Especialidad 3</h6>
                        </div>
                        <div class="notDisplay" id="esp_display2_t" onchange="ocultarDiasT()">
                            {{ formEspecialista.especialidad_t }}
                        </div>
                        <br>
                        <br>
                        <div class="notDisplay" id="esp_display_c">
                            <h6>Especialidad 4</h6>
                        </div>
                        <div class="notDisplay" id="esp_display2_c" onchange="ocultarDiasC()">
                            {{ formEspecialista.especialidad_c }}
                        </div>
                        
                    </div>

                    #Dias especialidades
                    <div class="col">
                        
                        <br>
                        <div class="wrappernone" id="divespecialidads">
                        <div class="wrapper" onchange="grupoMultiSelect()">
                            {{formEspecialista.dia_p}}
                        </div>
                        <div class="wrappernone" id="divespecialidads" onchange="grupoMultiSelect()">
                            {{formEspecialista.dia_s }}
                        </div>
                        <div class="wrappernone" id="divespecialidadt" onchange="grupoMultiSelect()">
                            {{formEspecialista.dia_t }}
                        </div>
                        <div class="wrappernone" id="divespecialidadc" onchange="grupoMultiSelect()">
                            {{formEspecialista.dia_c }}
                        </div>
                    </div>

                    #Minutos de atención
                    


                        <div class="notDisplay" id="divmins">
                            {{formEspecialista.minutes_s}}
                        </div>
                        <div class="notDisplay" id="divmint">
                            {{formEspecialista.minutes_t}}
                        </div>
                        <div class="notDisplay" id="divminc">
                            {{formEspecialista.minutes_c}}
                        </div>
                        
                    </div>-->
                </div>

            </div>
            <br>
            <br>
            <br>
            <button type="submit" value="Agregar" class="btn-naranja-mediano">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}
</html>
