.wrapper{
    display: inline-flex;
    height: 100px;
    width: 600px;
}

.wrappernone{
  display: none;
  height: 100px;
  width: 600px;
}

.wrappernone .boton{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper .boton{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.notDisplay {
  display: none;
}
.display{
  display: inline-flex;
}