{% extends "../../Clientes/index.html" %}
{% block footer %}
<title>Modificar</title>
<div id="main-content-centro">

    <div class="div-pequeño">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="div-formulario">
            <h2 id="titulo-inicio-sesion">Modificar Cita</h2>
        <h3 id="titulo-inicio-sesion">Actual: {{fecha_seleccion}} {{hora_seleccion}}</h3>
            <div class="row">
                <div >
                    <br>
                    <form method="POST">
                        {% csrf_token %}
    
                        <div>
                            {{formDate.date}}
                        </div>
                        <br>
                        <button class="btn-naranja-mediano" type="submit"
                                name="horas">
                                Modificar Hora
                        </button>
                    </form>
                </div>
            </div>
            <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" style="align-self: auto;"><a href="{% url 'index' %}">Cancelar</a></button>
            <button id="btn-home-cerrar-sesion" type="button" class="btn-naranja-mediano" onclick="goBack()" style="align-self: auto;">Atras</a></button>
        </div>
        
        </div>
</div>
{% endblock %}
