html{
    height: 100%;
}
/*Header, identaré todo lo que esté en el header para diferenciar entre items*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
/*Header, identaré todo lo que esté en el header para diferenciar entre items*/
header {
    height: 80px;
    background-color: #42444E;
    
}
    /*Btn mediano, este botón se usará mas veces pero lo creé en el header así que lo dejo identado*/
    .btn-naranja-mediano{
        height: 40px;
        width: 140px;
        background-color: #FAA92F;
        border-style: none;
        border-radius: 5px;
        margin: auto;
    }
        .btn-naranja-mediano:hover{
            text-decoration: none;
            color: #42444E;
            background-color: #FAA92F;
        }
        /*Modifico el text dentro del btn para que no aparezca el underline*/
        .btn-naranja-mediano a{
            text-decoration: none;
            color: #42444E;
        }
        /*Modifico el efecto al momento de pasar el mouse por encima del btn*/
        .btn-naranja-mediano a:hover{
            text-decoration: none;
            color: #42444E;
        }

        .btn-verde-mediano{
            height: 40px;
            width: 140px;
            background-color: #28A745;
            border-style: none;
            border-radius: 5px;
            margin: auto;
        }
            .btn-verde-mediano:hover{
                text-decoration: none;
                color: #42444E;
                background-color: #28A745;
            }
            /*Modifico el text dentro del btn para que no aparezca el underline*/
            .btn-verde-mediano a{
                text-decoration: none;
                color: #42444E;
            }
            /*Modifico el efecto al momento de pasar el mouse por encima del btn*/
            .btn-verde-mediano a:hover{
                text-decoration: none;
                color: #42444E;
            }
    
    .select-checkbox div div label {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .btn-rojo-mediano{
            height: 40px;
            width: 140px;
            background-color: #c94b4b;
            border-style: none;
            border-radius: 5px;
            margin: auto;
        }
            .btn-rojo-mediano:hover{
                text-decoration: none;
                color: #42444E;
                background-color: #c94b4b;
            }
            /*Modifico el text dentro del btn para que no aparezca el underline*/
            .btn-rojo-mediano a{
                text-decoration: none;
                color: #42444E;
            }
            /*Modifico el efecto al momento de pasar el mouse por encima del btn*/
            .btn-rojo-mediano a:hover{
                text-decoration: none;
                color: #42444E;
            }
    /*Div que mueve la imagen a la izquierda*/
    div#div-nav-left{
        float: left;
    }

    /*Div que mueve la lista de items a la derecha*/
    div#div-nav-right{
        float: right;
    }

    div#div-nav-center{
        float: center;
        margin-top: 15px;
    }
    /*Posición de la imagen*/
    header div img{
        padding-left: 20px;
        padding-top: 10px;
        
    }
    /*Style del div nav*/
    header div nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
        display: flex;

    }
        /*Style lista*/
        header div nav ul li {
            display: inline-block;
            line-height: 80px;
            text-decoration: none;
        }
            /*Style texto lista*/
            header div nav ul li a {
                font-size: 17px;
                display: block;
                padding: 0 10px;
                color: #D9D9D9;
                text-decoration: none;
                transition: background-color .7s;
            }
                /*Efecto al pasar mouse*/
                header div nav ul li a:hover {
                    background: gray;
                    text-decoration: none;
                    color: #FFFFFF;
                }

/*Body identaré todo lo que esté en el body para diferenciar entre items*/

body{
    margin: auto;
    background-image:url("background.jpg");
    background-repeat: no-repeat;   
    height: 100%;
}
    .body-margin-top{
        margin-top: 100px;
    }
    #container-fila-agendar-hora{
        padding: 50px 0px;
    }
    svg.icono-grande{
        width: 128px;
        height: 128px;
    }
    #main-content{
        height: 100%;
        
    }
    .col-sm{
        text-decoration: none;
        color:#212529;
    }
    .col-sm:hover{
        color:#212529;
    }
    
    /*Content usado para centrar div en el agendar hora*/
    #main-content-centro{
        height: 100%;
        display: grid;
        place-content: center;
    }
    body div form div#div-nav-left{
        margin-left: 20px;
    }

    #div-body{
        padding: 150px 200px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .img-redonda {
        border-radius: 50%;
        margin-top: 20px;
      }
      
    .btn_agendar_hora{
        padding: 0;
        border: none;
        background: none;
    }

    .cuadrado-rojo {
        width: 25px; 
        height: 25px; 
        background: #c94b4b;
   }
   .cuadrado-verde {
        width: 25px; 
        height: 25px; 
        background: #28A745;
    }

    #btn-selecc-hora{
        display: inline-block ; 
        width: 180px;
        height: 90px; 
        margin: 20px;
    }

    form .btn_agendar_hora:hover{
        background-color:transparent ;
    }
    /*Div Pequeño de Inicio Sesión*/
    .div-pequeño{
        height: 600px;
        width: 500px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }
    .div-choicefield{
        height: 28px;
    }

    /* Estilos para la barra de desplazamiento */
    ::-webkit-scrollbar {
        width: 11px;
    }
    
    /* Estilos para el indicador de posición */
    ::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 6px;
    }
    
    /* Estilos para el indicador de posición al pasar el mouse */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }
    /*Div Mediano usado en agendar hora*/
    .div-mediano{
        height: 600px;
        width: 1200px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;

    }
    .div-grande{
        height: 700px;
        width: 1300px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #titulo-seleccionar-area{
        margin-top: 20px;
    }
        /*Se modifica el texto del div para que tenga una fuente mas agradable a la vista del usuario*/
        .div-pequeño h2{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding-top: 30px;
        }
    #btn-home-cerrar-sesion{
        margin-top: 100px;
    }

/*Footer, identaré todo lo que esté en el Footer para diferenciar entre items*/
footer {
    height: 80px;
    background-color: #42444E;
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    margin-top: 80px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;

}
    footer div div a svg{
        color: #FFFFFF;
        transition-duration: 0.5s;
    }
    footer div div a svg:hover{
        color: #a7a7a7
    }

/* ----- -----iconos de las redes sociales ----- ----*/

@media (min-width: 550px) {
    .RedesSociales {
        display: block;
        position: center;
        font-size: 100%;
        padding: 100%;
        background-color: var(--blanco);
        color: var(--blanco);
    }
}




/*-------------------------------------------------*/
/*--------- Estilos de contenedor formulario-------*/
/*-------------------------------------------------*/

/*----nombre del Body-------*/

.formulario_Agregar{
    display: flex;
    align-items: center;
    justify-content: center;

}

/*----nombre del Container principal-------*/

.container_agregar{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 10 px rgba(0,0,0,0.1);
    border: 1px solid #000000;
}

.container_agregar .titulo{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.container_agregar .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
}

.container_agregar form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #D9D9D9;
    overflow: hidden;
}

.container_agregar form .form{
    position: absolute;
    background-color: #D9D9D9;
    transition: 0.3s ease;
}

/*----efecto de transicion entre containers-------*/

.container_agregar form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container_agregar form .titulo{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container_agregar form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*---- cantidad de columnas -------*/

form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

/*----diseño, forma y ubicación del botón-------*/

.container_agregar form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px;
    background-color: #6425e2;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container_agregar form button,
.container_agregar form .backBtn{
    font-size: 14px;
    font-weight: 400;;
}

/*----efecto del botón al acercar el mause-------*/
form button:hover{
    background-color: #265df2;
}

form button i,
form .backBtn i{
    margin: 0 6px;
}

form .backBtn i{
    transform: rotate(180deg);
}

form .buttons{
    display: flex;
    align-items: center;
}

form .buttons button, .backBtn{
    margin-right: 14px;
}

/*---- responsiva del formulario -------*/

@media (max-width: 750px) {
    .container_agregar form{
        overflow-y: scroll;
    }
    .container_agregar form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }    
}

@media (max-width: 550px){
    form .fields .input-field{
        width: 100%;
    }
}




/*-------------------------------------------------*/
/*--------- Estilos de container-Sesiones-------*/
/*-------------------------------------------------*/

form .fields .input-field2{
    display: flex;
    width: calc(100% / 1 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field2 label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field2 input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field2 input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.container_agregar form .fields2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-Sesiones{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 500px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;

    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}

/*------------------ boton de eleccion Sexo ---------------------*/

form .fields .select{  
    width: calc(100% / 2 - 10px);  
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background:#fff;
    background-image: none;

    flex: 1;
    padding: 0 5em;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans',sans-serif;
    padding: 0 15px;
}

select::-ms-expand{
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background-color: #fff;
    border-radius: 3px;    
}

.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #D9D9D9;
    pointer-events: none;
    transition: .25s all ease;
    border: 1px solid #000000;
    border-radius: 3px;
}

.select:hover::after{
    color: #fff;
}



/*-------------------------------------------------*/
/*------------- admin_crear_Usuario ---------------*/
/*-------------------------------------------------*/


.container_CrearUsuarios{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 700px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;

    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}


#crearUsuario{

    /*centrar div*/
    display: grid;
    place-items: center;

    /*borde*/
    box-sizing: border-box;
    border-radius: 27px;

    /*Tamaño*/
    width: 25%;
    height: 95%;

    height: 500px;
    width: 400px;

    /*Color*/
    background: #FDFCFC;
    border: 2px solid #000000;
    
}

#section{

    /*centrar div*/
    display: grid;
    place-items: center;

    /*borde*/
    box-sizing: border-box;
    border-radius: 27px;

    /*Tamaño*/
    width: 65%;
    height: 95%;

    height: 500px;
    width: 400px;

    /*Color*/
    background: #FDFCFC;
    border: 2px solid #000000;
    
    /*Ubicacion*/

    float: left;
    
}

.btn_Aceptar{
    color: #42444E;
    height: 40px;
    width: 140px;
    background-color: #FAA92F;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
}


/*-------------------------------------------------*/
/*---------------- Validacion JS ------------------*/
/*-------------------------------------------------*/


.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 20em;
    background-color: #f5ecec;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 3em;
    line-height: 3em;
    padding: 0 3em 0 1em;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    /*es el mensaje de error que esta abajo de las casillas*/
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    /*la x aparesca en medio de la casilla*/
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    /*es para que la x aparesca cuando tengamos un error*/
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    /*dimensiones del mensaje de error*/
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    /*el mensaje solo aparecera si hay un error*/
    display: block;
}

.formulario__mensaje p {
    /*el mensaje este centrado*/
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px;
    background-color: #FAA92F;
    transition: all 0.3s linear;
    cursor: pointer;
}

.formulario__btn:hover {
    background-color: #ec920d;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */

@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}