/*Header, identaré todo lo que esté en el header para diferenciar entre items*/

header {
    height: 80px;
    background-color: #42444E;
}
    /*Btn mediano, este botón se usará mas veces pero lo creé en el header así que lo dejo identado*/
    .btn-naranja-mediano{
        color: #42444E;
        height: 40px;
        width: 140px;
        background-color: #FAA92F;
        text-decoration: none;
        border-style: none;
        border-radius: 5px;
    }

    /*Div que mueve la imagen a la izquierda*/
    header div#div-nav-left{
        float: left;
    }
    /*Div que mueve la lista de items a la derecha*/
    header div#div-nav-right{
        float: right;
    }
    /*Posición de la imagen*/
    header div img{
        padding-left: 20px;
        padding-top: 10px;
        
    }
    /*Style del div nav*/
    header div nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
        display: flex;

    }
        /*Style lista*/
        header div nav ul li {
            display: inline-block;
            line-height: 80px;
            text-decoration: none;
        }
            /*Style texto lista*/
            header div nav ul li a {
                font-size: 17px;
                display: block;
                padding: 0 10px;
                color: #D9D9D9;
                text-decoration: none;
                transition: background-color .7s;
            }
                /*Efecto al pasar mouse*/
                header div nav ul li a:hover {
                    background: gray;

                }
            /*Style botón header*/
            header div nav ul li .btn-naranja-mediano a {
                transition: none;
                color: #42444E;
            }
                /*Si es un botón en el nav se le quita el efecto*/
                header div nav ul li .btn-naranja-mediano a{
                    background: none;
                }
                

/*Body identaré todo lo que esté en el body para diferenciar entre items*/

body{
    margin: auto;
    background-image:url("background.jpg");
    background-repeat: no-repeat   ;
    
}

    #div-body{
        padding: 150px 200px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    /*Div Pequeño de Inicio Sesión*/

    .div-pequeño{
        height: 500px;
        width: 500px;
        background-color: #ffffff;
        text-align: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }
        .div-pequeño h2{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding-top: 30px;
        }
    
    

/*Footer identaré todo lo que esté en el Footer para diferenciar entre items*/
footer {
    height: 80px;
    background-color: #42444E;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*admin_Sesiones*/

.container_RRHH{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 500px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;
    
    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}

.container-Sesiones{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 500px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;

    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}

.btn_Aceptar{
    color: #42444E;
    height: 40px;
    width: 140px;
    background-color: #FAA92F;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
}
