
body{
    margin: auto;
    background-image:url("background.jpg");
    background-repeat: no-repeat   ;
    
}
    body div form div#div-nav-left{
        margin-left: 20px;
    }

    #div-body{
        padding: 150px 200px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    /*Div Pequeño de Inicio Sesión*/
    .div-pequeño{
        height: 500px;
        width: 500px;
        background-color: #ffffff;
        text-align: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }
        /*Se modifica el texto del div para que tenga una fuente mas agradable a la vista del usuario*/
        .div-pequeño h2{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding-top: 30px;
        }
    #btn-home-cerrar-sesion{
        padding-top: 100px;
    }

    .div-botones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Divs Escritorio Especialista */
    #div-perfil{
        height: 700px;
        width: 500px;
        background-color: #ffffff;
        text-align: center;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }

    #div-calendario{
        height: 150px;
        width: 600px;
        background-color: #ffffff;
        text-align: center;
        margin: auto;
        margin-left: 1.7rem;
        margin-block-end: 20px;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }

    #div-citas-hoy{
        height: 530px;
        width: 600px;
        background-color: #ffffff;
        text-align: center;
        margin: auto;
        margin-left: 1.7rem;
        border-radius: 10px;
        box-shadow: 0px 1px 1px;
    }

/*----------------container_agregar----------------------*/

.container_agregar{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 500px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;
    
    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}



/*----------------container-Sesiones----------------------*/
.container-Sesiones{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 500px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;

    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}

/*----------------admin_crear_Usuario----------------------*/

.container_CrearUsuarios{

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 33px;

    /*Largo y ancho del container principal*/
    width: 80%;
    max-width: 100%;
    height: 700px;
    width: 1000px;
    
    /*centrar div*/
    display: grid;
    place-items: center;

    /*centrar container al medio de la pagina*/
    margin: 15%;
    
}

#section{

    /*centrar div*/
    display: grid;
    place-items: center;

    /*borde*/
    box-sizing: border-box;
    border-radius: 27px;

    /*Tamaño*/
    width: 65%;
    height: 95%;

    height: 500px;
    width: 400px;

    /*Color*/
    background: #FDFCFC;
    border: 2px solid #000000;
    
    /*Ubicacion*/

    float: left;
    
}

#crearUsuario{

    /*centrar div*/
    display: grid;
    place-items: center;

    /*borde*/
    box-sizing: border-box;
    border-radius: 27px;

    /*Tamaño*/
    width: 25%;
    height: 95%;

    height: 500px;
    width: 400px;

    /*Color*/
    background: #FDFCFC;
    border: 2px solid #000000;
    
    /*Ubicacion*/
    float: right;
  
}

.btn_Aceptar{
    color: #42444E;
    height: 40px;
    width: 140px;
    background-color: #FAA92F;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
}

/*-------------------------------------------------*/
/*---------- Validador JS Formularios -------------*/
/*-------------------------------------------------*/


.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 43em;
    background: rgb(29, 25, 25);
    margin-bottom: 10em;
    border-radius: 1em;
    padding: 1em;
    transition: 0.5s;
    flex-direction: column;
    justify-content: space-around;
    color: #0b0b0c;
}

.formularios {
    align-items: center;
    width: 25em;
    background: lightgray;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 1em;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    min-width: 250px;

}

.date {
    background-color: #0b0909bd;
    width: 100%;
    max-width: 100%;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #0c0c10;

    width: 100%;
    max-width: 100%;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 20em;
    background-color: #f5ecec;
    color: #0c0c10;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 3em;
    line-height: 3em;
    padding: 0 3em 0 1em;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    /*es el mensaje de error que esta abajo de las casillas*/
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    /*la x aparesca en medio de la casilla*/
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    /*es para que la x aparesca cuando tengamos un error*/
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    /*dimensiones del mensaje de error*/
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    /*el mensaje solo aparecera si hay un error*/
    display: block;
}

.formulario__mensaje p {
    /*el mensaje este centrado*/
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: rgb(12, 12, 12);
    color: rgb(246, 245, 250);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /*es para que el usuario sepa que se pueda pulsar*/
    transition: .1s ease all;
    /*velocidad de trancicion*/
    
}

.formulario__btn:hover {
    /*leve sombra del btn enviar*/
    box-shadow: 3px 0px 30px rgb(76, 73, 237);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */

@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}


/*-------------------------------------------------*/
#buuble_buttons{
    display:inline-block; 

}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
